/* ===== RESET CSS ===== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===== BASIC CSS ===== */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* ===== HEADER ===== */
.wrapper {
  width: 110rem;
  margin: 0 auto;
}

.header {
  height: 5rem;
  width: 100%;
  background-color: #0c0c0c;
}

.header__wrapper {
  height: 100%;
  color: #bfbfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left-block {
  display: inherit;
}

.header__logo {
  width: 6rem;
  position: relative;
}

.header__logo img {
  width: 100%;
  position: absolute;
}

.header__menu {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

.header__right-block {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  color: inherit;
}

.menu__item {
  text-decoration: none;
  color: inherit;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid #595959;
}

.menu__item:hover {
  color: #fff;
}

.menu__item:nth-last-of-type(1) {
  margin: 0;
  padding: 0;
  border: 0;
}

.language-selection__label:hover {
  color: #fff;
  cursor: pointer;
}

.language-selection__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.language-selection__language {
  color: #bfbfbf;
  text-decoration: none;
}

.search {
  margin: 0 1.5rem 0 1.5rem;
}

.search__label {
  font-size: 2rem;
}

.search__label:hover {
  color: #fff;
  cursor: pointer;
}

.search__label .fa-search {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.search__searchbar {
  display: none;
}

.burger__label {
  font-size: 2rem;
}

.burger__label:hover {
  color: #fff;
  cursor: pointer;
}
