/*Dividing everything into separate files for comfort*/
/* ===== RESET CSS ===== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===== BASIC CSS ===== */
/* The most often text color in this page */
/* The most often hover effect */
/* Disabling blue background during selection */
*::-moz-selection {
  background: transparent;
}
*::selection {
  background: transparent;
}

/* I use rem for all measurements in this page, so I defined it as 10 px for comfort */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* Class which I add to menus to hide them till interaction */
.hidden {
  display: none !important;
}

.burger__block_open {
  color: #595959 !important;
  pointer-events: none;
}

.burger__block_open-header {
  background-color: transparent !important;
}

/* ===== HEADER ===== */
.wrapper {
  width: 110rem;
  margin: 0 auto;
}

.header {
  height: 5rem;
  width: 100%;
  background-color: #0c0c0c;
  /* Making logo to 'stand out' from header */
}

.header__wrapper {
  height: 100%;
  position: relative;
  color: #bfbfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left-block {
  display: inherit;
}

.header__logo {
  position: relative;
  z-index: 4;
  width: 6rem;
  position: relative;
}

.header__logo img {
  width: 100%;
  position: absolute;
}

.header__nav {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

.header__right-block {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  color: inherit;
}

.nav__item {
  position: relative;
  z-index: 4;
  text-decoration: none;
  color: inherit;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid #595959;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.nav__item:hover {
  color: #fff;
  cursor: pointer;
}

.nav__item:last-of-type {
  margin: 0;
  padding: 0;
  border: 0;
}

.language-selection {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Making it different color is quite difficult, it requires changing its color to transparent, nullifying initial border and set another*/
}

.language-selection__label {
  position: relative;
  z-index: 4;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.language-selection__label:hover {
  color: #fff;
  cursor: pointer;
}

.language-selection__block {
  width: 25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 1;
  padding: 0 1.5rem;
  top: 5rem;
  left: -7rem;
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.language-selection__language {
  padding-right: 1.1rem;
  margin-bottom: 1.5rem;
  color: #bfbfbf;
  text-decoration: none;
  line-height: 2.4rem;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.language-selection__language:hover {
  color: #fff;
  cursor: pointer;
}

.language-selection__language:first-of-type {
  padding-top: 0.8rem;
}

.language-selection__line {
  color: transparent;
  border: none;
  border-top: 1px solid #bfbfbf;
  width: 90%;
  margin-bottom: 1.5rem;
}

.language-selection__set-preference {
  padding-right: 1.1rem;
  margin-bottom: 2rem;
}

.language-selection__set-preference:hover {
  cursor: default;
}

.language-selection__preference-block {
  display: inherit;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.language-selection__confirm {
  margin: 1.5rem 1.2rem 3rem 0;
  padding: 0 1.5rem;
  line-height: 2.8rem;
  font-size: 1.5rem;
  background-color: transparent;
  color: #bfbfbf;
  border: 1px solid #bfbfbf;
  outline: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.language-selection__confirm:hover {
  color: #fff;
  cursor: pointer;
}

.search {
  margin: 0 1.5rem 0 1.5rem;
  /* Making clicking on switcher reveal block, the second way */
  /* And the submit button, z-index increased because it needs to be displayed on top of the searchbar */
}

.search__label {
  position: relative;
  z-index: 4;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font-size: 2rem;
  /* Mirroring it*/
}

.search__label:hover {
  color: #fff;
  cursor: pointer;
}

.search__label .fa-search {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.search__searchbar {
  position: absolute;
  z-index: 4;
  height: 3rem;
  line-height: 3rem;
  padding: 0 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  left: 7rem;
  top: 1rem;
  width: 88%;
  display: none;
}

.search__submit {
  position: absolute;
  z-index: 4;
  background-color: transparent;
  font-size: 1.5rem;
  right: 7.5rem;
  top: 1.5rem;
  border: none;
  outline: none;
  display: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}

.search__submit:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.search__submit:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.search__switcher:checked ~ .search__form > .search__searchbar {
  display: block;
}

.search__switcher:checked ~ .search__form > .search__submit {
  display: block;
}

.burger__label {
  position: relative;
  z-index: 4;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font-size: 2rem;
}

.burger__label:hover {
  color: #fff;
  cursor: pointer;
}

.burger__block {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
}

.menu {
  margin: 5rem 0 4.5rem 0;
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% / 6);
  padding-right: 1.5rem;
}

.menu__title {
  padding: 0.5rem 0;
  text-decoration: none;
  color: #fff;
  font-size: 2.2rem;
  line-height: 3.5rem;
}

.menu__title_img {
  padding: 1.33rem 0;
}

.menu__item {
  text-decoration: none;
  color: #bfbfbf;
  line-height: 2rem;
  font-size: 1.35rem;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.menu__item:hover {
  color: #fff;
}

.language-selection-second {
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language-selection-second__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  margin-right: 3rem;
}

.language-selection-second__img {
  width: 3rem;
  margin-right: 0.75rem;
}

.language-selection-second__img_arab {
  width: 7.5rem;
}

.language-selection-second__set-preference {
  margin: 0 1rem 0 1.5rem;
  font-size: 1.3rem;
}

.language-selection-second__preference {
  margin-right: 1rem;
  font-size: 1.3rem;
}

.language-selection-second__confirm {
  font-size: 1.3rem;
  margin: 0 0 0 0.5rem;
}

/* ===== MEDIA QUERIES ===== */
@media (max-width: 110em) {
  .wrapper {
    width: 100%;
  }
  .header__nav {
    display: none;
  }
}
