/* ===== BASIC CSS ===== */
/* The most often text color in this page */
$grey: #bfbfbf;
/* The most often hover effect */
@mixin active {
    &:hover {
        color: #fff;
        cursor: pointer;
    }
}
/* Disabling blue background during selection */
*::selection {
    background: transparent;
}
/* I use rem for all measurements in this page, so I defined it as 10 px for comfort */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.5rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
/* Class which I add to menus to hide them till interaction */
.hidden {
    display: none !important;
}
.burger__block_open {
    color: #595959 !important;
    pointer-events: none;
}
.burger__block_open-header {
    background-color: transparent !important;
}
