/* ===== FOOTER ===== */
.footer {
    background-color: #0c0c0c;
    color: $grey;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 3rem 0 7rem 0;
    &__upper-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__weather {
    }

    &__search {
    }

    &__search-form {
        box-sizing: border-box;
        background-color: #262626;
        padding: 0.3rem 1rem;
    }

    &__searchbar {
        background-color: transparent;
        border: none;
        outline: none;
        color: $grey;
        font-size: 1.6rem;
        width: 26rem;
    }

    &__search-submit {
        background-color: transparent;
        outline: none;
        border: none;
        color: $grey;
        font-size: 2rem;
        transform: rotateY(180deg);
        cursor: pointer;
    }
}
.footer__menu {
    margin-bottom: 4rem;
    padding-top: 2.5rem;
}
.footer .menu__item {
    line-height: 2.6rem;
    padding-top: 0.5rem;
}
.footer .menu__block {
    padding-bottom: 2rem;
}
.weather {
    &__item {
        color: #fff;
        text-decoration: none;
        padding-right: 1.5rem;
    }
}

.language-selection__block_in-the-footer {
    top: -27.5rem;
    left: -0.1rem;
    align-items: flex-start;
}
.language-selection {
    &__logo {
        width: 3.5rem;
        padding-right: 1rem;
    }
}
.footer .language-selection__set-preference {
    line-height: 3.5rem;
    margin-bottom: 0;
}
.footer .language-selection__confirm {
    margin-bottom: 1.5rem;
}
.copy {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: right;
    color: #595959;
    &__text {
        line-height: 2rem;
        &:last-of-type {
            margin-bottom: 0.5rem;
        }
    }
}
.nav__item_in-the-footer {
    &:hover {
        color: inherit;
    }
}
