/* ===== HEADER ===== */
.wrapper {
    width: 110rem;
    margin: 0 auto;
}

.header {
    height: 5rem;
    width: 100%;
    background-color: #0c0c0c;

    &__wrapper {
        height: 100%;
        position: relative;
        color: $grey;
        display: flex;
        justify-content: space-between;
    }

    &__left-block {
        display: inherit;
    }

    /* Making logo to 'stand out' from header */
    &__logo {
        position: relative;
        z-index: 4;
        width: 6rem;
        position: relative;
        img {
            width: 100%;
            position: absolute;
        }
    }

    &__menu {
        display: inherit;
        align-items: center;
        margin-left: 1rem;
    }

    &__right-block {
        display: inherit;
        align-items: center;
    }
}

.menu {
    color: inherit;

    &__item {
        position: relative;
        z-index: 4;
        text-decoration: none;
        color: inherit;
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        border-right: 1px solid #595959;
        transition-property: color;
        transition-duration: 200ms;

        @include active;

        &:last-of-type {
            margin: 0;
            padding: 0;
            border: 0;
        }
    }
}

.language-selection {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    &__switcher {
    }

    &__label {
        position: relative;
        z-index: 4;
        transition-property: color;
        transition-duration: 200ms;
        @include active;
    }

    &__marker {
    }
    &__block {
        width: 25rem;
        box-sizing: border-box;
        position: absolute;
        z-index: 1;
        padding: 0 1.5rem;
        top: 5rem;
        left: -7rem;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__language {
        padding-right: 1.1rem;
        margin-bottom: 1.5rem;
        color: $grey;
        text-decoration: none;
        line-height: 2.4rem;
        @include active;
        &:first-of-type {
            padding-top: 0.8rem;
        }
    }
    /* Making it different color is quite difficult, it requires changing its color to transparent, nullifying initial border and set another*/
    &__line {
        color: transparent;
        border: none;
        border-top: 1px solid $grey;
        width: 90%;
        margin-bottom: 1.5rem;
    }
    &__set-preference {
        padding-right: 1.1rem;
        margin-bottom: 2rem;
        &:hover {
            cursor: default;
        }
    }
    &__preference-block {
        display: inherit;
        width: 100%;
        justify-content: space-around;
    }
    &__preference-radiobutton {
    }
    &__preference-label {
    }
    &__confirm {
        margin: 1.5rem 1.2rem 3rem 0;
        padding: 0 1.5rem;
        line-height: 2.8rem;
        font-size: 1.5rem;
        background-color: transparent;
        color: $grey;
        border: 1px solid $grey;
        outline: none;
        @include active;
    }
}
.search {
    margin: 0 1.5rem 0 1.5rem;

    &__switcher {
    }

    &__label {
        position: relative;
        z-index: 4;
        @include active;
        font-size: 2rem;
        /* Mirroring it*/
        .fa-search {
            transform: rotateY(180deg);
        }
    }

    &__searchbar {
        position: absolute;
        z-index: 4;
        height: 3rem;
        line-height: 3rem;
        padding: 0 0.8rem;
        box-sizing: border-box;
        font-size: 1.6rem;
        left: 7rem;
        top: 1rem;
        width: 88%;
        display: none;
    }
    &__submit {
        position: absolute;
        z-index: 4;
        background-color: transparent;
        font-size: 1.5rem;
        right: 7.5rem;
        top: 1.5rem;
        border: none;
        outline: none;
        display: none;
        transition-property: all;
        transition-duration: 150ms;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        &:active {
            transform: scale(1.2);
        }
    }
    /* Making clicking on switcher reveal block, the second way */
    &__switcher:checked ~ &__form > &__searchbar {
        display: block;
    }
    /* And the submit button, z-index increased because it needs to be displayed on top of the searchbar */
    &__switcher:checked ~ &__form > &__submit {
        display: block;
    }
}

.burger {
    &__switcher {
    }

    &__label {
        position: relative;
        z-index: 4;
        @include active;
        font-size: 2rem;
    }
    &__block {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 3;
        width: 100vw;
        height: 50rem;
        background-color: rgba(0, 0, 0, 0.9);
    }
}
