.main {
    margin-top: 1.5rem;
    &__wrapper {
    }
}
.news {
    &__first-article {
    }

    &__second-article {
    }

    &__common-article {
    }

    &__span {
        &_bold {
        }
    }
}
.col-lg-5 {
}
.col-xs-12 {
}
.first-article {
    &__title {
        color: #262626;
        font-size: 5.5rem;
        text-align: center;
        margin-bottom: 1rem;
        @include trans-color;
        @include active-main;
    }
    &__subtitle {
        &_on-red {
            @include on-red;
            &:hover {
                color: #fff;
            }
        }
    }

    &__logo-block {
        position: relative;
    }
}
.far {
}
.fa-play-circle {
    color: #a6a6a6;
}
.playbutton {
}
.col {
}
.second-article {
    text-align: center;
    &__img {
        position: relative;
        text-align: center;
        padding-bottom: 8rem;
        margin-bottom: 3rem;
    }

    &__title {
        &_on-grey {
            position: absolute;
            font-size: 2.1rem;
            background-color: #e6e6e6;
            margin: -2.3rem 3rem 0 3rem;
            padding: 1rem 1rem 1.5rem 1rem;
            line-height: 2.6rem;
        }
    }
}
.common-article {
    &__title {
        &_on-grey {
            background-color: #f2f2f2;
            color: #404040;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2.2rem;
            padding: 0.7rem;
        }
    }
    &__subtitle {
        padding: 0.7rem 0;
        line-height: 2rem;
        @include trans-color;
        @include active-main;
        &_on-red {
            @include on-red;
            bottom: 8.2rem;
            &:hover {
                color: #fff;
            }
        }
        &_bold {
            font-weight: 700;
        }

        &_big {
            font-size: 2rem;
            line-height: 2.4rem;
        }

        &_on-grey {
            position: absolute;
            bottom: 0;
            font-size: 3rem;
            line-height: 3.4rem;
            background-color: #d6d6d6;
            width: 100%;
        }
    }

    &__img {
        width: 100%;
    }

    &__logo-block {
        position: relative;
    }

    &__subtitle-block {
        display: flex;
        padding-bottom: 0.5rem;
        img {
            margin-right: 1rem;
        }
    }

    &__line {
        margin: 0;
        border-top: 0.05rem solid #a6a6a6;
    }
}
.fas {
}
.fa-chevron-right {
}
.title-before-section {
}
.col-4 {
}
