.main {
    margin-top: 1.5rem;
    &__wrapper {
    }
}
.container-fluid {
    box-sizing: border-box;
}
.news {
    padding: 1.5rem 0;
    &__first-article {
    }

    &__second-article {
    }

    &__common-article {
    }

    &__span {
        &_bold {
            font-weight: 700;
        }
    }
}
.col-lg-5 {
}
.col-xs-12 {
}
.first-article {
    &__title {
        color: #262626;
        font-size: 5.5rem;
        text-align: center;
        margin-bottom: 1rem;
        @include trans-color;
        @include active-main;
    }
    &__subtitle {
        &_on-red {
            @include on-red;
            &:hover {
                color: #fff;
            }
        }
    }

    &__logo-block {
        position: relative;
        img {
            width: 100%;
        }
    }
}
.far {
}
.fa-play-circle {
    color: #a6a6a6;
}
.playbutton {
}
.col {
}
.second-article {
    text-align: center;
    &__img {
        position: relative;
        text-align: center;
        padding-bottom: 8rem;
        margin-bottom: 4rem;
        &:last-of-type {
            padding-bottom: 7.5rem;
            margin-bottom: 0;
        }
    }

    &__title {
        &_on-grey {
            position: absolute;
            font-size: 2.1rem;
            background-color: #e6e6e6;
            margin: -2.3rem 3rem 0 3rem;
            padding: 1rem 1rem 1.5rem 1rem;
            line-height: 2.6rem;
        }
    }
}
.common-article {
    &__title {
        &_on-grey {
            display: flex;
            justify-content: space-between;
            background-color: #f2f2f2;
            color: #404040;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2.2rem;
            padding: 0.7rem;
            @include trans-bg-color;
            &:hover {
                background-color: #e6e6e6;
            }
            .fa-chevron-right {
                font-size: 2.3rem;
                padding: 0.2rem 1.4rem 0 1.4rem;
                @include trans-bg-color;
                &:hover {
                    background-color: #d6d6d6;
                }
            }
        }
    }
    &__subtitle {
        padding: 0.7rem 0;
        line-height: 2rem;
        @include trans-color;
        @include active-main;
        &_on-red {
            @include on-red;
            bottom: 8.2rem;
            &:hover {
                color: #fff;
            }
        }
        &_bold {
            font-weight: 700;
        }

        &_big {
            font-size: 2rem;
            line-height: 2.4rem;
        }
        &_bigger {
            font-size: 2.25rem;
            line-height: 2.4rem;
        }

        &_on-grey {
            position: absolute;
            bottom: 0;
            font-size: 3rem;
            line-height: 3.4rem;
            background-color: #d6d6d6;
            width: 100%;
        }
        &_on-grey-semitransparent {
            background: hsla(0, 0%, 98%, 0.85);
        }
    }

    &__img {
        width: 100%;
    }

    &__logo-block {
        position: relative;
    }

    &__subtitle-block {
        display: flex;
        padding-bottom: 0.5rem;
        img {
            margin-right: 1rem;
        }
    }

    &__line {
        margin: 0;
        border-top: 0.05rem solid #a6a6a6;
    }
    &__subtitle-img {
        width: 18.4rem;
        &_square {
            width: 7.5rem;
            height: 7.5rem;
        }
    }
}
.featured-sections {
    padding: 1.5rem 0;
    display: flex;
    align-items: flex-end;

    &__title {
        font-size: 2.4rem;
        width: 27.5%;
    }
}
.double-lines {
    width: 123.5%;
    &__line {
        border-top: 4px solid #d9d9d9;
        margin: 0.1rem 0;
    }
}

.fas {
}
.col-4 {
}
