/* ===== MEDIA QUERIES ===== */
@media (max-width: 110em) {
    .wrapper {
        width: 100%;
    }
    .header__nav {
        display: none;
    }
    .burger__label {
        padding-right: 1rem;
    }
    .search {
        display: none;
    }
    .header .language-selection {
        display: none;
    }
    .burger__menu {
        box-sizing: border-box;
        padding: 1.5rem 1.5rem 7rem 1.5rem;
        flex-direction: column;
        &__block {
            padding: 0.4rem 0;
        }
    }
    .menu__item {
        display: none;
    }
    .language-selection-second {
        display: none;
    }
    .footer {
        box-sizing: border-box;
        padding: 3rem 2rem;
        &__upper-block {
            flex-direction: column;
            align-items: flex-start;
        }
        &__search {
            width: 100%;
        }
        &__search-form {
            display: flex;
            justify-content: space-between;
        }
        &__weather {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
        }
        &__menu {
            flex-direction: column;
        }
    }
    .footer .menu__block {
        width: 100%;
        padding-right: 0;
    }
    .footer .menu__title {
        display: block;
        background-color: #1a1a1a;
        padding: 1rem;
    }
    .copy {
        text-align: left;
        &__text {
            &:first-of-type {
                margin-top: 2rem;
            }
            &:last-of-type {
                margin-bottom: 2rem;
            }
        }
    }
    .second-article__img,
    .first-article__logo-block {
        img {
            width: 96vw;
        }
    }
    .common-article {
        padding-top: 1.5rem;
        &__img {
            width: 96vw;
        }
        &__subtitle_on-red {
            top: 0;
            left: 0;
        }
        &__subtitle_on-white {
            top: 0;
            left: 0;
        }
        &__subtitle-img {
            &_square {
                width: 11.575rem;
                height: 11.575rem;
            }
        }
    }
    .second-article {
        padding-top: 1.5rem;
        &__img {
            margin-bottom: 0;
            &:last-of-type {
                padding-bottom: 3.5rem;
            }
        }
    }
    .news {
        padding: 0;
    }
    .section-titleblock__title {
        font-size: 1.5rem;
        width: 40%;
    }
    .double-lines {
        width: 58%;
        &_bigger {
            width: 160%;
        }
        &_lesser {
            width: 70%;
            margin-left: 2rem;
        }
    }
}
