/* ===== MEDIA QUERIES ===== */
@media (max-width: 110em) {
    .wrapper {
        width: 100%;
    }
    .header__nav {
        display: none;
    }
    .burger__label {
        padding-right: 1rem;
    }
    .search {
        display: none;
    }
    .language-selection {
        display: none;
    }
    .menu {
        box-sizing: border-box;
        padding: 1.5rem 1.5rem 7rem 1.5rem;
        flex-direction: column;
        &__item {
            display: none;
            padding: 0.4rem 0;
        }
    }
    .language-selection-second {
        display: none;
    }
}
